<div>
    Vlc.DotNet - 4000<hr>
    <video width="320" height="240" src="http://localhost:4000/stream" type="video/ogg;codecs=theora" autoplay="autoplay" />
</div>
<div>
    LibVLCSharp - 4001<hr>
    <video width="320" height="240" src="http://localhost:4001/stream" type="video/ogg;codecs=theora" autoplay="autoplay" />
</div>